@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cotação em tempo real</h1>
    <p class="lead">Saiba o valor das moedas de todo mundo.</p><br />
    <p>Para manter suas configurações favoritas salvas clique em cadastrar abaixo.</p>
    <p><a href="http://www.reactiongifs.com/r/mgc.gif" class="btn btn-primary btn-lg">Cadastrar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informações</h2>
        <p>
            Informações do país corrente...
        </p>
        <p><a class="btn btn-default" href="http://www.reactiongifs.com/r/mgc.gif">Mais informações &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gráficos</h2>
        <p>
            Gráficos do país corrente...
        </p>
        <p><a class="btn btn-default" href="http://www.reactiongifs.com/r/mgc.gif">Mais detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Principais países</h2>
        <p>
            Informações do países mais importante...
        </p>
        <p><a class="btn btn-default" href="http://www.reactiongifs.com/r/mgc.gif">Mais países &raquo;</a></p>
    </div>
</div>